<div class="container">
  <h1 class="mt-5 mb-5" routerLink="/">Danh sách</h1>
  <a class="btn btn-warning" routerLink="/create">Create</a>

  <div class="mt-2">
    <input [(ngModel)]="diemDiSearch" type="text" placeholder="Nhap diem di"
           style="margin-right: 10px">

    <input [(ngModel)]="diemDenSearch" type="text" placeholder="Nhap diem den"
           style="margin-right: 10px">

    <input [(ngModel)]="ngay1Serch" type="date"
           style="margin-right: 10px">

    <input [(ngModel)]="ngay2Search" type="date"
           style="margin-right: 10px">

    <input type="submit" value="Search" (click)="search()">
  </div>

  <div class="mt-2">
    <table class="table table-bordered table-primary table-striped">
      <thead>
      <tr>
        <th>STT</th>
        <th>Gia</th>
        <th>Diem di</th>
        <th>Diem den</th>
        <th>Ngay khoi hanh</th>
        <th>Gio khoi hanh</th>
        <th>So luong</th>
        <th>Nha xe</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of quanLyVe | paginate: {itemsPerPage:3,currentPage:p}; index as i">
        <td>{{i + 1}}</td>
        <td>{{x.gia}}</td>
        <td>{{x.diemDi}}</td>
        <td>{{x.diemDen}}</td>
        <td>{{x.ngayKhoiHanh | date : "dd/MM/yyyy"}}</td>
        <td>{{x.gioKhoiHanh}}</td>
        <td>{{x.soLuong}}</td>
        <td>{{x.nhaXe.ten}}</td>
        <td>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete"
                  (click)="modalById(x.id)"> Dat ve
          </button> |
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEdit"
                  (click)="modalById(x.id)"> Chỉnh Sửa
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>

</div>

<!--Modal Xoa-->
<div *ngIf="quanLyVeO" class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel-delete"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-delete">Đặt vé</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="quanLyVeO.soLuong>0 ; else not">
        <p>Bạn có muốn dat ve di xe di tu <strong>{{quanLyVeO.diemDi}}</strong>
          den<strong>{{quanLyVeO.diemDen}}</strong>
          vao <strong>{{quanLyVeO.gioKhoiHanh}}</strong>
          ngay <strong>{{quanLyVeO.ngayKhoiHanh}}</strong> khong ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>

        <button class="btn btn-danger" data-bs-dismiss="modal" type="submit"
                (click)="submit()">Xac nhan
        </button>

      </div>
    </div>
  </div>
</div>

<!--Modal Edit-->
<div *ngIf="quanLyVeO" class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel-delete"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel-edit">Chỉnh Sửa</h2>

        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div class="container">
          <h1>Them ve</h1>
          <form class="row g-3 needs-validation" novalidate autocomplete="off"
                [formGroup]="rfquanLyve" (ngSubmit)="submit()">

            <div class="mb-3">
              <label class="form-label">Diem di</label>

              <input type="text" class="form-control" required
                     formControlName="diemDi"
                     [ngClass]="(rfquanLyve.controls['diemDi'].touched) ?
             (rfquanLyve.controls['diemDi'].errors ? 'is-invalid' : 'is-valid') : '' "
              />

              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['diemDi'].errors?.required
        && (rfquanLyve.controls['diemDi'].touched) ">
                  Không được để trống!
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Diem den</label>

              <input type="text" class="form-control" required
                     formControlName="diemDen"
                     [ngClass]="(rfquanLyve.controls['diemDen'].touched) ?
             (rfquanLyve.controls['diemDen'].errors ? 'is-invalid' : 'is-valid') : '' "
              />

              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['diemDen'].errors?.required
        && (rfquanLyve.controls['diemDen'].touched) ">
                  Không được để trống!
                </div>
              </div>
            </div>


            <div class="mb-3">
              <label class="form-label">Nha xe</label>

              <select class="form-control" required
                      formControlName="nhaXe"
                      [ngClass]="(rfquanLyve.controls['nhaXe'].touched) ?
             (rfquanLyve.controls['nhaXe'].errors ? 'is-invalid' : 'is-valid') : '' ">
                <option value="" selected>Chọn Nha xe</option>
                <option *ngFor="let item of nhaXeList" [ngValue]="item">{{item.ten}}</option>
              </select>

              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['nhaXe'].hasError('required')
        && (rfquanLyve.controls['nhaXe'].touched) ">
                  Không được để trống!
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Ngay khoi hanh</label>

              <input type="date" class="form-control" required
                     formControlName="ngayKhoiHanh"
                     [ngClass]="(rfquanLyve.controls['ngayKhoiHanh'].touched) ?
             (rfquanLyve.controls['ngayKhoiHanh'].errors ? 'is-invalid' : 'is-valid') : '' "
              />

              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['ngayKhoiHanh'].errors?.required
        && (rfquanLyve.controls['ngayKhoiHanh'].touched) ">
                  Không được để trống!
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Gio khoi hanh </label>

              <input type="time" class="form-control" required
                     formControlName="gioKhoiHanh"
                     [ngClass]="(rfquanLyve.controls['gioKhoiHanh'].touched) ?
             (rfquanLyve.controls['gioKhoiHanh'].errors ? 'is-invalid' : 'is-valid') : '' "
              />

              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['gioKhoiHanh'].errors?.required
        && (rfquanLyve.controls['gioKhoiHanh'].touched) ">
                  Không được để trống!
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">So Luong</label>

              <input type="number" class="form-control" required
                     formControlName="soLuong"
                     [ngClass]="(rfquanLyve.controls['soLuong'].touched) ?
             (rfquanLyve.controls['soLuong'].errors ? 'is-invalid' : 'is-valid') : '' "
              />

              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['soLuong'].errors?.required
        && (rfquanLyve.controls['soLuong'].touched) ">
                  Không được để trống!
                </div>
              </div>
              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['soLuong'].errors?.min
        && (rfquanLyve.controls['soLuong'].touched) ">
                  Ban phai nhap so duong!
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Gia</label>

              <input type="number" class="form-control" required
                     formControlName="gia"
                     [ngClass]="(rfquanLyve.controls['gia'].touched) ?
             (rfquanLyve.controls['gia'].errors ? 'is-invalid' : 'is-valid') : '' "
              />

              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['gia'].errors?.required
        && (rfquanLyve.controls['gia'].touched) ">
                  Không được để trống!
                </div>
              </div>
              <div class="invalid-feedback">
                <div *ngIf="rfquanLyve.controls['gia'].errors?.min
        && (rfquanLyve.controls['gia'].touched) ">
                  Ban phai nhap so duong!
                </div>
              </div>
            </div>

            <div class="mb-3">

              <button class="btn btn-primary" type="submit"
                      [disabled]="!rfquanLyve.valid">Them moi
              </button>
              |
              <button class="btn btn-warning" routerLink="/">Tro ve</button>

            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>

        <button class="btn btn-danger" data-bs-dismiss="modal" type="submit"
                (click)="submit()">Xac nhan
        </button>

      </div>
    </div>
  </div>
</div>

<ng-template #not>
  <div class="modal-body">
    <p><strong style="color: red">Hết Vé!</strong></p>
  </div>
</ng-template>
